# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Minecraft plugins\realEmeralds\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
